<html>
  <head>
    <title>
      PAGE POTIN
     </title>
  </head>

  <body>
    <p>Voici la page potin n°<%= id %></p>
    <p>Son auteur : <%= gossips.author %></p>
    <p>Le contenu du potin : <%= gossips.content %></p>
    <a href="/">Lien pour revenir à la page des potins</a></br>
    <a href="/gossips/<%=id%>/edit/">Éditer le potin</a>
  </body>
    

